@model LearningPlattform.Models.ViewModels.VideoCourseViewModel

@{
    ViewBag.Title = "Details";
}

<style>
    .pb-video-container {
        padding-top: 20px;
        background: #fefeff;
        font-family: Lato;
    }

    .pb-video {
        border: 1px solid #e6e6e6;
        padding: 5px;
    }

        .pb-video:hover {
            background: #2c3e50;
        }

    .pb-video-frame {
        transition: width 2s, height 2s;
    }

        .pb-video-frame:hover {
            height: 300px;
        }

    .pb-row {
        margin-bottom: 10px;
    }

    .menu-link {
        height: 50px;
    }

    .enroll {
           text-align:right;
           margin-right:100px;
           
       /* text-indent: -9999px; */ /* hides the link text */
    }
    .message{
        color:cadetblue;
        font-size:large;
        padding-top:20px;
    }
    .coursename {
        color: cadetblue;
        padding-top: 10px
    }
    .instructormessage {
        color: cadetblue;
    }
</style>


<h2 class="coursename">@Model.Course.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.InstructorId)
        </dt>

        <dd>
           <p> @ViewBag.Instructor.FirstName @ViewBag.Instructor.Surname</p>
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Instructor == ViewBag.CurrentUser)
        {
    <p>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Course.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Course.Id }) |
        @Html.ActionLink("Add Video", "Create", "Videos", new { CourseId = Model.Course.Id }, null) |
    </p>
        }
        else
        {
    <p>
    @Html.ActionLink("Back to List", "Index")
    </p>
        }
        </div>

                    <div class="col-md-4">
                        @{
                            if (Model.Videos.Count > 0 && ViewBag.Instructor != ViewBag.CurrentUser)
                            {
                                if (ViewBag.Enrolled == false)
                                {
                                    <div class="enroll">
                                        @Html.ActionLink("Enroll Now", "Enroll", new { Id = Model.Course.Id }, new { @class = "btn btn-primary btn-large" })
                                    </div>
                                }
                            }
                        }
                    </div>
    </div>

@if(ViewBag.Instructor == ViewBag.CurrentUser)
{
    <p class="instructormessage"> * Note: This course is created by you. You can use the above links to Edit, Delete, or Add new Videos to this course.</p>
}

@if (Model.Videos.Count == 0)
{
<p>There are no videos on this course yet.</p>
}
else
{
    foreach (var item in Model.Videos)
    {
        <div class="row">
            <div class="container-fluid pb-video-container">
                <div class="col-md-4">
                    <iframe class="pb-video-frame" width="100%" height="230" src="@item.Path" frameborder="0" allowfullscreen></iframe>
                    <label class="list-group-item list-group-item-action active" >@Model.Course.Name</label>
                </div>
                <div class="col-md-8">
                    <h2>@item.Name</h2>
                    <p>@item.Description</p>
                </div>
            </div> @*/pb-video-container*@
        </div>

        if (ViewBag.Instructor != ViewBag.CurrentUser)
        {
            if (!ViewBag.Enrolled)
            {
            <p></p>
            <div class="message">
            <p>You must Enroll to view the Rest of the Course</p>
            </div>
                break;
            }
        }
    }
}
    <script language="javascript" type="text/javascript" src="jquery-1.8.2.js"></script>
    <script language="javascript" type="text/javascript">
        $(function () {
            $('.close').click(function () {
                $('iframe').attr('src', $('iframe').attr('src'));
            });
        });
    </script>
