@model LearningPlattform.Models.ViewModels.VideoCourseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Course.Id }) |
    @Html.ActionLink("Add Video", "Create", "Videos", new {CourseId = Model.Course.Id}, null)
    @*@Html.ActionLink("Add Video", "Create", "Videos", new { Model }, null)*@
</p>
<ul>
@foreach(var item in Model.Videos)
{
<li>@item.Name</li>
}
</ul>
